/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color:  	#f4ebda;
  }
  
  /* Top Navigation Bar */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #da584b;
    padding: 1em;
    text-align: center;
    color: #fafafa;
    font-size: 1.5em;
    height: 100px;
  }
  
  /* Button Styling */
  button {
    background-color: #74532c;
    border: none;
    color: white;
    padding: 1em 2em;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 12em;
    height: 12em;
    margin: 10px;
    transition: 450ms;
    border: 0px solid #f4ebda;
  }
  
  button span {
    display: block;
    transform: rotate(-45deg);
  }
  /* Button Hover Effect */
  button:hover {
    background-color: #f8961e;
  }
  
  .button-container {
    grid-template-columns: auto auto;
    margin: 150px auto 0px auto;
    width: 600px;
    transform: rotate(45deg);
  }

  #sierra {
    background-color: blue;
    border-radius: 100%;
  }

  #sierra.active{
    background-color: #aa55ff
  }
  #martillo {
    background-color: yellow;
    color: black;
    border-radius: 100%;
  }
  #martillo.active{
    background-color: #ffaa00
  }

  #taladro {
    background-color: red;
    border-radius: 100%;
  }

  #taladro.active{
    background-color: #ffaaaa
  }
  #silla {
    background-color: green;
    border-radius: 100%;
  }
  #silla.active {
    background-color: #44ff00;
    border-radius: 100%;
  }

  .active {
    border: 10px solid #f4ebda;
  }

  #resultados {
    width: 50%;
    margin: 50px auto;
    font-size: 2em;
    text-align: center;
  }

  #intro {
    width: 50%;
    margin: 50px auto;
    font-size: 2em;
    text-align: center;
  }

  #contador {
    width: 50%;
    margin: 50px auto;
    font-size: 2em;
    text-align: center;
  }
/*  */

  